In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [2]:
df = pd.read_csv('fraud_dataset.csv')

In [3]:
num_days = 7
num_hours = 24
df['days'] = df['step']%num_days
df['hours'] = df['step']%num_hours
df['day_trans'] = df['step']/24
df['day_trans'] = round(df['day_trans'])

In [4]:
df['tanggal'] = pd.to_datetime(df['day_trans'],unit='D',origin=pd.Timestamp('2022-10-01 00:00:00'))

In [5]:
df['tanggal_jam'] = df['tanggal'] + pd.TimedeltaIndex(df['hours'], unit='H')

In [7]:
n = df.shape[0]

In [8]:
rand_list=[]
for i in range(n):
    rand_list.append(random.randint(0,360))

In [9]:
df['detik_random'] = rand_list

In [10]:
df['timestamp'] = df['tanggal_jam'] + pd.TimedeltaIndex(df['detik_random'], unit='seconds')

In [11]:
df['timestamp']

0         2022-10-01 01:04:10
1         2022-10-01 01:04:22
2         2022-10-01 01:01:10
3         2022-10-01 01:01:50
4         2022-10-01 01:04:38
                  ...
6362615   2022-11-01 23:05:23
6362616   2022-11-01 23:05:13
6362617   2022-11-01 23:02:44
6362618   2022-11-01 23:00:48
6362619   2022-11-01 23:05:44
Name: timestamp, Length: 6362620, dtype: datetime64[ns]

In [14]:
df.drop(['tanggal','tanggal_jam','detik_random'],axis=1,inplace=True)

In [15]:
df.to_csv('fraud_dataset_timestamp.csv')

In [16]:
df_timestamp = pd.read_csv('fraud_dataset_timestamp.csv')

In [17]:
df_timestamp

,Unnamed: 0,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,days,hours,day_trans,timestamp
0,0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0,1,1,0.0,2022-10-01 01:04:10
1,1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0,1,1,0.0,2022-10-01 01:04:22
2,2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0,1,1,0.0,2022-10-01 01:01:10
3,3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0,1,1,0.0,2022-10-01 01:01:50
4,4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0,1,1,0.0,2022-10-01 01:04:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6362615,6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0,1,23,31.0,2022-11-01 23:05:23
6362616,6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0,1,23,31.0,2022-11-01 23:05:13
6362617,6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0,1,23,31.0,2022-11-01 23:02:44
6362618,6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0,1,23,31.0,2022-11-01 23:00:48
6362619,6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0,1,23,31.0,2022-11-01 23:05:44